*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box !important;
}
body{
    background-color: black !important;
}
#main_section{
    background-image: url(./backgroundimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.navbar-nav{
    flex-direction: row !important;
    justify-content: flex-end;
    margin-right: 0px;
    justify-content: center;
}
.navbar-nav li{
    margin-left: 15px;
}
.navbar-brand img{
    width: 225px;
    height: 96px;
    
}
#nav_div_left{
    display: flex;
    justify-content: center;
    
}
.nav-link{
    margin-bottom: 5px;
}
#sign_in{
    text-decoration: none;
    color: white;
    padding: 5px;
    border: none;
    padding-top: 30px;
    
    }
#sign_in_list{
    background-color: red;
    text-align: center;
    border-radius: 5px;
    height: 30px;
    min-width: 80px !important;
}
.dropdown{
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 100px;

}
.dropdown:focus{
    border: 2px solid white;
}
#sign_in_list:hover{
    background-color: rgba(255, 0, 0, 0.852);
}
/* @media only screen and (max-width:576px) {
    #nav_div_left{justify-content: start;}
    #navbar-nav{justify-content:end;}
} */
/* -------------------section 2 start--------------------------------- */
.section_2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px !important;
}
.division_3 h1{
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}
.division_3 p{
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

.division_3{
    display: flex;
    justify-content: center;
}
.form_input_1{
    display: flex;
    justify-content:center;
}
.form_input{
    display: flex;
}

.form_input label{
    color: white;
}

#input_1{
    border: 1px solid green;
    background-color: rgba(135, 207, 235, 0.238);
    color: white;

}
.form_input_1 button{
    width:250px ;
    margin-left: 10px;
    display: inline-block;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;

}
.form_input_1 button:hover{
    background-color: rgba(255, 0, 0, 0.695);
}
/* --------------------------section 3-------------------------------------------------------- */

.hori_line{
    border-top: 2px solid rgb(236, 57, 87);
    border-radius: 40%;
    background-image: linear-gradient(to right, pink);
    height: 50px;
            width: 100%;
}
.section_3{
   
    background-color: black;
    height: auto;
}
.item{
    overflow: hidden;
}

.item img:hover{
    transform: scale(1.2);

    transition-duration: 0.5s;
    overflow: hidden !important;
}
.owl_heading{
    position: absolute;
    z-index: 2;
    left: 0px; 
    bottom: 10px; 
    font-size: 200px; 
    color: darkgray;
}
#owl_start{
    margin-top: 15px;
    position: relative;
    top: 30px;
}
#counter{
    color: white;
    font-size: 30px;
}
@media only screen and (max-width:576px) {
    .item img{
        height: 320px;
    }
    
}
.reasonToJoin{
    border: none;
    background-color: #44444e;
    color: white;
    font-size: 15px;
    background-color: #10394a;
    border-radius: 10px;
    width: 20% !important;
    margin-bottom: 10px;
    margin-right: 15px;
    box-shadow: 2px 2px 2px 2px #0c212a ;
}
.reasonToJoin h1{
    font-size: 22px;
    font-weight: 600;
    margin-top: 18px;
}
.reasonToJoin p{
    margin-top: 14px;
    font-size: 18px;
}
#reasons{
    color: white;
    font-size: 30px;

}
#reasonsToJoin_heading{
    margin-top: 30px;
}
@media only screen and (min-width:0px) {
    .reasonToJoin{
        width: 100% !important;
    }
    
}

@media only screen and (min-width:576px) {
    .reasonToJoin{
        width: 42% !important;
    }
    #computer{
        position: absolute;
        top: 22px;
    }
    #download_icon{
        position: absolute;
        bottom: 5px;
    }
    #eye_icon{
        position: relative;
        top: 52px;

    }
    #profile_icon{
        position: relative;
        bottom: 5px;
    }
}

@media only screen and (min-width:992px) {
    .reasonToJoin{
        width: 22% !important;
    }
    
}
.questions{
    height: 80px;
    background-color: rgb(45, 45, 45);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}
.questions span{
    margin-left: 20px;
    font-size: 25px;
    color: white;
}
.questions i{
    color: white;
}
.questions:hover{
    background-color: rgb(86, 85, 85);
    cursor: pointer;
}
.query{
    background-color: rgb(25, 25, 25) ;
    color: white;
    font-size: 22px;
    
}
.query p{
    margin-left: 15px;
}
.questionContainer h1{
    color: white;
    font-size: 30px;
}
#mailError{
    display: block !important;
    color: red;
    margin-left: 150px;
}
/* .readyToWatch{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_5_para{
    color: white;
} */
.paraContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.paraContainer p{
    color: white;
}
.questionCall{
    color: rgb(170, 167, 167);
}
.phoneNumber{
    color: rgb(170, 167, 167);

}
.lastSectionUl{
    list-style-type: none;
    float: left;
}
.lastSectionUl li a{
    color: rgb(170, 167, 167);
    margin-top: 10px;

}
.lastSectionUl li{
    margin-top: 5px;
}




